$primary-color: #1b94e6;
$secondary-color: #ffcd40;
$error-color: #d60000;
$success-color: #08a73d;

$light-background: white;
$dark-background: #1a1a27ff;

$body-font-family: 'Poppins', 'Segoe UI', sans-serif;
$text-link: inherit;
$spacer: 6px !default;

$text-primary: #5a5c60;
$text-secondary-color: #5a5c60;
$text-disabled-color: #5a5c60;
$text-link-color: inherit;